In [1]:
from dotenv import load_dotenv
from utils import (
    ClientManager,
    VoyageAPIModel,
    OpenAIAPIModel,
    get_logger,
    run_law_benchmarks,
    run_cross_lingual_benchmarks,
    get_vanilla_results_df,
    get_cross_lingual_results_df,
    get_weighted_average_df,
)

load_dotenv()
logger = get_logger()
client_manager = ClientManager()

MODELS = [
    VoyageAPIModel(
        model_name="voyage-law-2", client=client_manager.get_voyage_client()
    ),
    OpenAIAPIModel(
        model_name="text-embedding-ada-002", client=client_manager.get_oai_client()
    ),
    OpenAIAPIModel(
        model_name="text-embedding-3-large", client=client_manager.get_oai_client()
    ),
    OpenAIAPIModel(
        model_name="text-embedding-3-small", client=client_manager.get_oai_client()
    ),
]

In [ ]:
for model in MODELS:
    run_law_benchmarks(model, logger)
    run_cross_lingual_benchmarks(model, logger)

In [3]:
get_vanilla_results_df(["ndcg@10"])

                                             ndcg@10  \
mteb_dataset_name      LegalBenchConsumerContractsQA
model_name
text-embedding-3-large                       0.79373
text-embedding-3-small                       0.78917
text-embedding-ada-002                       0.79062
voyage-law-2                                 0.83216
Average                                      0.80142

                                                                       \
mteb_dataset_name      LegalBenchCorporateLobbying LegalSummarization
model_name
text-embedding-3-large                     0.95082           0.715920
text-embedding-3-small                     0.94240           0.695400
text-embedding-ada-002                     0.93108           0.688520
voyage-law-2                               0.95330           0.672380
Average                                    0.94440           0.693055


mteb_dataset_name        Average
model_name
text-embedding-3-large  0.820157
text-embedding-3-small  0.808990
text-embedding-ada-002  0.803407
voyage-law-2            0.819280
Average                 0.812958

In [4]:
get_vanilla_results_df(["evaluation_time"])

                                     evaluation_time  \
mteb_dataset_name      LegalBenchConsumerContractsQA
model_name
text-embedding-3-large                      286.6600
text-embedding-3-small                      214.5000
text-embedding-ada-002                      180.4400
voyage-law-2                                 16.3300
Average                                     174.4825

                                                                       \
mteb_dataset_name      LegalBenchCorporateLobbying LegalSummarization
model_name
text-embedding-3-large                    363.5600             380.13
text-embedding-3-small                    257.3000             283.68
text-embedding-ada-002                    311.4600             294.61
voyage-law-2                               44.9300              67.46
Average                                   244.3125             256.47


mteb_dataset_name          Average
model_name
text-embedding-3-large  343.450000
text-embedding-3-small  251.826667
text-embedding-ada-002  262.170000
voyage-law-2             42.906667
Average                 225.088333

In [5]:
get_cross_lingual_results_df(["f1"])

                                    f1                                  \
mteb_dataset_name      Tatoeba_dan-eng Tatoeba_deu-eng Tatoeba_fin-eng
model_name
text-embedding-3-large        0.964233        0.993733        0.977667
text-embedding-3-small        0.927067        0.986000        0.890833
text-embedding-ada-002        0.944833        0.985556        0.896115
voyage-law-2                  0.891533        0.974833        0.640928
Average                       0.931917        0.985031        0.851386

                                                                        \
mteb_dataset_name      Tatoeba_fra-eng Tatoeba_nld-eng Tatoeba_nno-eng
model_name
text-embedding-3-large        0.960000        0.972667        0.938248
text-embedding-3-small        0.936167        0.963000        0.863096
text-embedding-ada-002        0.937222        0.956500        0.862659
voyage-law-2                  0.922567        0.926567        0.736042
Average                       0.938989        0.954683        0.850011

                                                                        \
mteb_dataset_name      Tatoeba_pol-eng Tatoeba_por-eng Tatoeba_spa-eng
model_name
text-embedding-3-large        0.977333        0.947500        0.980333
text-embedding-3-small        0.949333        0.936900        0.970400
text-embedding-ada-002        0.949333        0.934733        0.969667
voyage-law-2                  0.925500        0.915067        0.959400
Average                       0.950375        0.933550        0.969950


mteb_dataset_name      Tatoeba_swe-eng   Average
model_name
text-embedding-3-large        0.960000  0.967172
text-embedding-3-small        0.919833  0.934263
text-embedding-ada-002        0.919456  0.935607
voyage-law-2                  0.879733  0.877217
Average                       0.919756  0.928565

In [6]:
get_cross_lingual_results_df(["evaluation_time"])

                       evaluation_time                                  \
mteb_dataset_name      Tatoeba_dan-eng Tatoeba_deu-eng Tatoeba_fin-eng
model_name
text-embedding-3-large         874.710        854.3600        882.0700
text-embedding-3-small         662.250        798.4200        752.1000
text-embedding-ada-002         629.470        602.0900        604.6800
voyage-law-2                   206.830        157.7200        239.0400
Average                        593.315        603.1475        619.4725

                                                                        \
mteb_dataset_name      Tatoeba_fra-eng Tatoeba_nld-eng Tatoeba_nno-eng
model_name
text-embedding-3-large        891.3000          912.28        915.2300
text-embedding-3-small        814.6400          759.55        811.8400
text-embedding-ada-002        623.0000          571.83        637.1300
voyage-law-2                  150.4500          151.46        145.9700
Average                       619.8475          598.78        627.5425

                                                                        \
mteb_dataset_name      Tatoeba_pol-eng Tatoeba_por-eng Tatoeba_spa-eng
model_name
text-embedding-3-large        939.7400        880.0300        855.1800
text-embedding-3-small        803.9500        822.0500        633.3100
text-embedding-ada-002        622.7200        588.2300        598.4200
voyage-law-2                  154.6800        141.9400        193.0600
Average                       630.2725        608.0625        569.9925


mteb_dataset_name      Tatoeba_swe-eng    Average
model_name
text-embedding-3-large          850.61  885.55100
text-embedding-3-small          633.71  749.18200
text-embedding-ada-002          589.17  606.67400
voyage-law-2                    175.19  171.63400
Average                         562.17  603.26025

In [7]:
get_weighted_average_df(a=1)

mteb_dataset_name,Tatoeba_swe-eng,Tatoeba_spa-eng,Tatoeba_dan-eng,Tatoeba_fin-eng,Tatoeba_deu-eng,Tatoeba_fra-eng,Tatoeba_por-eng,Tatoeba_pol-eng,Tatoeba_nld-eng,Tatoeba_nno-eng,Average,W_Average
model_name,,,,,,,,,,,,
text-embedding-3-large,0.960000,0.980333,0.964233,0.977667,0.993733,0.960000,0.947500,0.977333,0.972667,0.938248,0.967172,0.969973
text-embedding-3-small,0.919833,0.970400,0.927067,0.890833,0.986000,0.936167,0.936900,0.949333,0.963000,0.863096,0.934263,0.937561
text-embedding-ada-002,0.919456,0.969667,0.944833,0.896115,0.985556,0.937222,0.934733,0.949333,0.956500,0.862659,0.935607,0.940274
voyage-law-2,0.879733,0.959400,0.891533,0.640928,0.974833,0.922567,0.915067,0.925500,0.926567,0.736042,0.877217,0.882518
Average,0.919756,0.969950,0.931917,0.851386,0.985031,0.938989,0.933550,0.950375,0.954683,0.850011,0.928565,0.932581